

extends layout

block content
  h1 Overview

  h2 Recommendations

    ul.right
      each val, index in recommendations
        li.overview_product
          a(
            href=val.product_url
          )
            img(
              src=val.image_path
            )
            p Product #{val.document_id}

  h2 Some products
    ul.overview_products
      each val, index in random
        li.overview_product
          a(
            href=val.product_url
          )
            img(
              src=val.image_path
            )
            p Product #{val.document_id}


