
extends layout

block content

  h1 Profile of #{user_name}
  div
    h2 #{user_name}'s favourite products:
      div.user_product
        each val, index in user_preference
          div.product
            a(
              href=val.product_url
            )
              img(
                src=val.image_path
              )

    h2 Vector
      div.user_vector
        table
          tr
            th Term
            th Value
          each val, index in user_vector.values
            tr
              td #{user_vector.description[index]}
              td #{user_vector.values[index]}
          



